
/* Most things were inherited from styles.css */
.categoryInfoHead{
    align-items: center;
}

.categoryInfo {
    text-align: center;
}
/* Responsible for infomation about each item displayed */
#displayInfo {
    text-align: center;
    display: inline-block;
    margin:1rem 0;
    background-color: rgb(28, 3, 28);
    border: rgb(104, 9, 102) solid;
    border-radius:1rem;
    padding-top:1rem;
}

.jDisplay {
    padding: 0 1.5rem 1rem;
}

li{
    list-style-type: none;
}

#jChoiceUL {
    padding: .5rem 0rem .5rem;
    margin: 2rem 20rem;
    border: groove 1rem rgb(104, 9, 102);
    border-radius: 2rem;
}

a:visited{
    color:black;
}
/* Responsible for the choices of jewelry (earrings, rigns, etc.) */
#jFilter {
    display: inline-block;
    background-color:white;
    border:solid black .15rem;
    border-radius: 2rem;
    padding: .3rem 1rem;
    margin: 0 1rem;
    transition: transform 0.25s cubic-bezier(0,0,.62,1);
}

#jLinks {
    color:black;
    text-decoration: none;
    padding: 1rem;
}


#jFilter:hover{
    background-color: #f1ff5c;
    cursor:pointer;
    box-shadow: 0 0.5rem 0.5rem -0.4rem #f1ff5c;
    transform: translateY(-0.25rem);
}