body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    text-align: center;
    background-color: black;
    color: white;
    margin: 2rem 1rem 0rem
}

a {
    text-decoration: none;
}

nav{
    display: inline;
    margin: 2rem 0 0 0;
    text-align: center;
}

ul {
    padding: .5rem 0rem;
    background-color: rgb(104, 9, 102);
    margin: 2rem 3rem;
    border: groove 1rem rgb(104, 9, 102);
    border-radius: 2rem;
}

#logo {
    border-radius: 2rem;
}

#selectionp {
    text-align: left;
    margin: 3rem 0 0rem 4rem;
    font-size: larger;
}

#description {
    margin: 0 4rem;
}

#links li{
    display: inline-block;
    margin: 0rem 2.5rem 0.4rem 1.5rem;
    padding: .5rem 1.5rem;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    border: solid .1rem black;
    background-color: white;
    border-radius: 2rem;
    transition: transform 0.25s cubic-bezier(0,0,.62,1);
}

#links li:hover {
    background-color: #f1ff5c;
    cursor:pointer;
    box-shadow: 0 0.5rem 0.5rem -0.4rem #f1ff5c;
    transform: translateY(-0.25rem);
    transition: transform 0.25s cubic-bezier(0,0,.62,1);
}

.formlinkli {
    margin: 10rem 10rem;
}

.rings {
    width: 10rem;
    height: 10rem;
    margin: 1.5rem 2rem 1rem 2rem;
    padding: .5rem 1.5rem;
    border: solid rgb(110, 101, 101);
    background-color: white;
    border-radius: 20%;
    transition: transform 0.25s cubic-bezier(0,0,.62,1);
}

.rings:hover {
    cursor:pointer;
    box-shadow: 0 0.5rem 0.5rem -0.4rem rgb(82, 79, 79);
    transform: translateY(-0.35rem);
    transition: transform 0.25s cubic-bezier(0,0,.62,1);
}

figure{
    display:inline-block;
    text-align: center;
}

footer{
    background-color: rgb(104, 9, 102);
    color: white;
    padding-bottom: 0.5rem;
    padding-top: .5rem;
    margin: 2rem 2rem 1rem;
    border: solid .1rem black;
    border-radius: 1rem;
}

footer p{
    margin: 0rem 2rem .3rem;
    text-align: left;
}

#errormsg {
    background-color: rgb(146, 10, 10);
    padding: 0.5rem;
    margin: auto 4rem;
    border: solid .5rem black;
    border-radius: 2rem;
}

#deliveryinfo {
    margin: 2rem 6rem;
}

.inputfields {
    display: inline-block;
    margin: .6rem 2rem;
    white-space: nowrap;
}

.secondinputfield {
    margin-left: 2rem;
}

#straddress {
    width: 20rem;
}

.formbuttons {
    display: inline-block;
    margin: 1rem 1.5rem auto;
    padding: .5rem 1.5rem;
    list-style-type: none;
    text-align: center;
    border: solid .1rem black;
    background-color: white;
    border-radius: 2rem;
    transition: transform 0.25s cubic-bezier(0,0,.62,1);
}

.formbuttons:hover {
    background-color: #f1ff5c;
    cursor:pointer;
    box-shadow: 0 0.5rem 0.5rem -0.4rem #f1ff5c;
    transform: translateY(-0.25rem);
    transition: transform 0.25s cubic-bezier(0,0,.62,1);
}

#Shippingtitle {
    margin: 5rem auto 3rem;
}

#shiplbl {
    background-color: white;
    color: black;
    text-align: center;
    border: solid 1rem white;
    border-radius: 2rem;
    height: fit-content;
    display: inline-block;
    margin-bottom: 3rem;
}

.info {
    display: inline-block;
    margin-bottom: 1rem;
}

.labellbl {
    display: inline;
}

#labellogo {
    height: 5rem;
    display: block;
    margin: auto auto 1.5rem 10rem;
    width: 50%;
    text-align: center;
    border: solid .1rem black;
    border-radius: 1rem;
}

#lblbrandname {
    display: inline;
    float: left;
    font-size: large;
    margin: 1rem auto auto 2rem;
    width: 4rem;
    background-color: black;
    color: white;
    border: solid .5rem black;
    border-radius: .5rem;
}
/*
#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}*/