body{
    text-align: center;
    background-color: aqua;
}

nav{
    display: inline;
    margin: 2rem 0 0 0;
    text-align: center;
}

ul {
    padding: .5rem 0rem;
    background-color: purple;
}

#links li{
    display: inline-block;
    margin: 0rem 2.5rem 0rem 1.5rem;
    padding: .5rem 1.5rem;
    list-style-type: none;
    text-align: center;
    border: solid black;
    background-color: white;
    border-radius: 15%;
}

#links li:hover {
    background-color: #f1ff5c;
    cursor:pointer;
    box-shadow: 0 0.5rem 0.5rem -0.4rem #f1ff5c;
    transform: translateY(-0.25rem);
    transition: transform 0.25s cubic-bezier(0,0,.62,1);
}

.formlinkli {
    margin: 10em 10em;
}

.rings {
    width: 10em;
    height: 10em;
    margin: 1.5em 2em 1em 2em;
    padding: .5em 1.5em;
    border: solid rgb(110, 101, 101);
    background-color: white;
    border-radius: 20%;
}

.rings:hover {
    cursor:pointer;
    box-shadow: 0 0.5rem 0.5rem -0.4rem #f1ff5c;
    transform: translateY(-1.25rem);
}

figure{
    display:inline-block;
    text-align: center;
}

footer{
    background-color: red;
    color: #f1ff5c;
    padding-bottom: 0.5rem;
}

footer p{
    margin: 0rem 2rem .3rem;
    text-align: left;
}